/* Reseteo estilos predefinidos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; }



    div {
        display: inline-block;
    }
    button {
        display: inline-block;
        padding: 10px 20px;
    }
    #table {
        display: block;
        margin-top: 20px;
    }
    th, td {
        border: 1px solid black;
        padding: 5px;
    }
    
    #spinner {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
    }